<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="HostTokenID" value="ce77aa25-f401-4612-9b40-401ea39d3383" />
    <add key="GuestTokenID" value="e2c246f5-f160-4f79-9189-46cda4079b29" />
    <add key="shouldAccept" value="true" />
    <add key="name" value="Ram|Mari|Vishnu|Sam|Sheldon|Riyaz|Ganesh|Steffi|Steve" />
    <add key="severName" value="https://ec2-13-127-159-5.ap-south-1.compute.amazonaws.com/sharebox" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>